body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
    padding-left: 32px;
    padding-right: 20px;
}

.all-header a {
    text-decoration: none;
}

.all-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    color: #3A3A3A;
    font-weight: 600;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.influencer-about {
    margin: 100px;
}

.influencer-heading {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}

.lorem-arc {
    margin-bottom: 20px;
}

.preebook,
a {
    text-decoration: none;
    color: #FFFFFF;
}

.preebook {
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.camera,
img {
    width: 475px;
    height: 475px;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin: 70px 170px;
    margin-bottom: 100px;
    border-block: 2px ridge;
    border-color: hsl(0, 0%, 83%, 0.2);
}

.container-2>div>img {
    width: 55.05px;
    height: 31.06px;
    padding: 10px 0px;
}





.collection-heading {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 40px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.collection-img>img {
    width: 300px;
    height: 256px;
}

.collection {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 16px 13px;
}

#more {
    text-align: right;
    margin: 50px;
    margin-right: 150px;
}



.container-4 {

    margin: 0px 100px;
}

.container-4>div {
    display: flex;
    margin-bottom: 100px;
}

.products {
    display: flex;
}

.product>img {
    width: 404px;
    height: 270px;
    background: url(.jpg);
    border-radius: 7px;
}

.product-info {
    margin-left: 96px;
}

.product-heading {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 18px;
}

article {
    padding-bottom: 16px;



}

.button {
    background-color: #E02C6D;
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 2px;
    right: 0px;
}




footer {
    background-color: rgb(202, 50, 50);
    display: 100%;


}

.container-5 {
    text-align: center;
    padding: 40px 150px;
}

.social-media>a {
    margin-right: 10px;

}